

<form action="/skra" method="post">
  <label for="home">Heimalið (Home Team):</label>
  <select name="home" id="home">
    <% teams.forEach(team => { %>
      <option value="<%= team.id %>"><%= team.name %></option>
    <% }) %>
  </select>
  <label for="home_score">Stig</label>
  <input type="number" id="home_score" name="home_score" min="0">

  <label for="away">Gestalið (Away Team):</label>
  <select name="away" id="away">
    <% teams.forEach(team => { %>
      <option value="<%= team.id %>"><%= team.name %></option>
    <% }) %>
  </select>
  <label for="away_score">Stig</label>
  <input type="number" id="away_score" name="away_score" min="0">

  <button type="submit">Skrá leik</button>
</form>


</main>
</body>

